/******************************* Account activation complete gray part********************/

.Account-activation-gray-area {
    width: 94%;
    margin: 0 auto 20px;
    text-align: center;
}
.gray-bg {
    display: flex;
    width: 190px;
    box-sizing: border-box;
    height: 115px;
    background: #f8f8f8;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
}