/*-----------------------  MYDIGI -------------------------------*/
.mydigi{
	width: 90%;
    margin: 0 auto 20px;
}
.googleplay{
    width: 301px;
    height: 57px;
    object-fit: contain;
}
.mydigi-text {
    padding: 0 0 0 10px;
    box-sizing: border-box;
}