
    @media all {
      .ExternalClass {
        width: 100%;
      }
      .ExternalClass,
            .ExternalClass p,
            .ExternalClass span,
            .ExternalClass font,
            .ExternalClass td,
            .ExternalClass div {
        line-height: 100%;
      }
      .apple-link a {
        color: inherit !important;
        font-family: inherit !important;
        font-size: inherit !important;
        font-weight: inherit !important;
        line-height: inherit !important;
        text-decoration: none !important;
      }
      /*.btn-primary table td:hover {
        background-color: #34495e !important;
      }
      .btn-primary a:hover {
        background-color: #34495e !important;
        border-color: #34495e !important;
      }*/
    }
	
	
	
	
	
	/*************************************** Header Css************************/
	body{
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    border-spacing: 0;
}
ul {
    padding: 0;
}
	li {
    list-style: none;
    font-weight: normal;
}
	.order-confirmation{	
		background-color: #f6f6f6;
		font-family: sans-serif; 
		-webkit-font-smoothing: antialiased; 
		font-size: 14px; 
		line-height: 1.4; 
		margin: 0; 
		padding: 0;
		-ms-text-size-adjust: 100%; 
		-webkit-text-size-adjust: 100%;		
	}
	.order-confirmation table.body{
		mso-table-lspace: 0pt; 
		mso-table-rspace: 0pt;
		width: 100%;
		background-color: #f6f6f6;
	}
	.container{
		font-family: sans-serif; 
		font-size: 14px; 
		vertical-align: top;
		display: block; 
		Margin: 0 auto; 
		max-width: 660px;
		width: 660px;
	}
	.content{
		background: #ffffff;
		box-sizing: border-box;
		display: block;
		Margin: 0 auto;
		max-width: 660px;
		padding:0px;
	}
	.header{
	font-family: sans-serif; 
	font-size: 14px; 
	font-weight:normal;
	margin: 0;	
	}
	.header img{
		width: 78px;
		height: 70px;
		object-fit: contain;
		padding: 15px 15px;
	}
	/************************************** Main Content**************************************/
	
/******************************* Footer**********************************/
.footer{
	clear: both; 
	background: #ffe600; 
	text-align: center; 
	width: 100%;
}
.footer table{
	border-collapse: separate;
	mso-table-lspace: 0pt; 
	mso-table-rspace: 0pt;
	width: 100%;
}
.powered-by{
	font-family:sans-serif; 
	vertical-align:top; 
	padding-bottom:10px;
	padding-top:20px; 
	font-size: 14px; 
	color: #212121;
	text-align: center;
}
.footer-left{
	float: left;
	padding: 0 0 0 20px;
	width: 50%;
	text-align:  left;
	color:  #3e3e3e;
	font-weight: 600;
}
.footer a {
    width: 20%;
    float: left;
}
.media-img {
    width: 19PX;
    height: 19px;
    object-fit: contain;
    float: left;
    CURSOR: pointer;
}
.powered-by p{
	margin: 10px 0 0 0;
	padding: 0;
}
.footer-right{
	float: right;
	padding: 0px 20px 0px 0px;
	text-align: right;
	font-size: 14px;
	font-weight: 600;
}
.footer .content-block{
	font-family: sans-serif; 
	vertical-align: top;
	padding-top: 10px; 
	font-size: 12px; 
	color: #212121; 
	text-align: center;
}
.footer-content{
	padding: 6px 20px 20px 20px;
	color: #212121;
	font-size: 14px;
	line-height:1.8;
	border-bottom: solid 0.5px rgba(39, 39, 39, 0.19);
	text-align: justify;
	margin:0;
}
.footer-bottom{
	font-family:sans-serif; 
	vertical-align:top;
	padding-bottom:15px; 
	padding-top:15px; 
	font-size: 14px; 
	color: #212121;
	text-align: center;
}
/************************ Content CSS*********************************/
table{
	border-collapse: separate; 
	mso-table-lspace: 0pt;
	mso-table-rspace: 0pt;
	width: 100%;
}
.main{
	border-collapse: separate; 
	mso-table-lspace: 0pt;
	mso-table-rspace: 0pt;
	border-radius: 3px;
	border-spacing: 0;
	width:94%;
	margin:0 auto;
}
.wrapper{
	font-family: sans-serif;
	font-size: 14px;
	vertical-align: top;
	box-sizing: border-box;
	padding: 0px;
}
.banner-img{
	max-width: 620px;
	margin: 0 auto 10px;
    min-height: 250px;
	background-repeat: no-repeat;
	object-fit: cover;
    text-align: center;
	background-position: center top;
}
.banner-img .banner-heading{
	color: #FFF;WIDTH: 100%;  
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
    font-size: 40px;
}
.banner-img .banner-description {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    color: #ffffff;
}
.bottom-banner{
	width: 100%;
	padding:0 0 10px 0;
	font-weight: bold;
}

.table-collapse {
    border-collapse: collapse;
}

.hello-user, .para, .voucher-code-wrapper{
    padding: 0 20px;
}
.hello-user{
	font-size: 28px;
	font-weight: bold;
	font-style: normal;
	font-stretch:normal;
	line-height: normal;
	letter-spacing: normal;
	color: #000000;

}
.para{
	font-family: sans-serif;
	font-size: 14px;
	font-weight: normal;
	padding:10px 20px;
}
.activate-btn{
    display: inline-block;
    color: #ffffff;
    background-color: #00aeef;
    border: solid 1px #00aeef;
    border-radius: 100px;
    box-sizing: border-box;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    padding: 12px 25px;
    text-transform: capitalize;
    border-color: #00aeef;
    z-index: 1;
    line-height: 1;
    box-sizing: border-box;
    margin: 0 20px;
    -webkit-text-size-adjust: none;
    mso-hide: all;
}
.secondary-btn{
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    color: #323232;
    border-radius: 100px;
    border: solid 2px #323232;
    line-height: 1;
    display: inline-block;
    background-color: transparent;
    box-sizing: border-box;
    cursor: pointer;
    text-decoration: none;
    margin: 0;
    padding: 13px 25px 14px 25px;
    text-transform: capitalize;
    z-index: 1;
    box-sizing: border-box;
    margin: 0 20px;
    -webkit-text-size-adjust: none;
    mso-hide: all;
}
.btn-margin {
    margin-bottom: 42px;
}
.tax-invoice{
	box-sizing: border-box;
	margin: 0 auto 20px;
	background: #f8f8f8;
	text-align: center;
	padding: 10px 0; 
	font-size:14px;
	font-weight: 600;
	width:93%;
}
.section-title {
    font-size: 28px;
    font-weight: 600;
    margin: 40px 0 25px 20px;
}

table {
    font-size: 16px;
    color: #272727;
    text-align: left;
    line-height: 1.88;
}

.bold {
    font-weight: 600;
}

.heading-14 {
    font-size: 14px;
    line-height: 1.57;
    font-weight: 600;
}

.heading-16 {
    font-size: 16px;
    font-weight: 600;
}

.heading-16-normal {
    font-size: 16px;
    font-weight: normal;
    color: #272727;
}

.heading-20 {
    font-size: 20px;
    font-weight: 600;
}

.heading-28 {
    font-size: 28px;
    width: 93.5%;
    font-weight: bold;
    line-height: 1.5;
    color: #272727;
    margin: 0 auto 29px;
}

.what_you_ordered .orderd-device, .redeem-freebie, .product-section-2-table, .first-purchase, .section-padding {
    width: 93.5%;
    margin: 0 auto;
}
.product-attr {
    color: #979797;
}
.table-value {
}

.padding15-16 {
    padding: 16px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}


/*--------------------------------------- MNP faliuer-----------------------------*/

.table-hello-user {
    width: 94%;
    margin: 25px auto 0;
}
.mnp3-Yellow-bg {
    background: #fff6af;
    padding: 0 14px;
    justify-content: center;
	border-radius: 6px;
}
.right-text {
    text-align: right;
    padding: 10px 0 5px 0 !important;
}
.allign-right {
    text-align: right;
}
.table-hello-user td {
    padding: 0 0 18px 0;
    line-height: 1.4;
}

.resubmit{
	    padding:11px 74px;
}
.bg-color {
    background: #f06161;
    max-width: 620px;
    margin: 0 auto;
	max-height: 120px;
}

.bg-color-table{
	text-align: center;
    color: #fff;
}
.title-banner{
	font-size:40px;
}


/*********************** Yellow part section 2*************************/
.line {
    border-top: 1px solid #272727;
    opacity: 0.1;
}

/******************************* Account activation complete gray part********************/

.Account-activation-gray-area {
    width: 94%;
    margin: 0 auto 20px;
    text-align: center;
}
.gray-bg {
    display: flex;
    width: 190px;
    box-sizing: border-box;
    height: 115px;
    background: #f8f8f8;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
}
/*-----------------------  MYDIGI -------------------------------*/
.mydigi{
	width: 90%;
    margin: 0 auto 20px;
}
.googleplay{
    width: 301px;
    height: 57px;
    object-fit: contain;
}
.mydigi-text {
    padding: 0 0 0 10px;
    box-sizing: border-box;
}
/*********************************** Activate account button on gray div*****************/
.activate-your-account {
    font-size: 40px;
}
.above-button-div {
    background: #f8f8f8;
    padding:50px 0px 20px 20px;
    margin-top: -70px;
    line-height: 1.7;
    font-size: 14px;
}
.margin-bottom{
	margin-bottom:15px;
}
.click-link{
    color:#00aeef;
    cursor: pointer;
}
.padding20 {
    padding: 0 0 20px 0;
}


@media only screen and (max-width: 620px) {
    .banner-img{
        padding: 0 20px;
    }
    .banner-img .banner-heading {
        font-size: 34px !important;
    }
	table[class=body] h1 {
        font-size: 28px !important;
        margin-bottom: 10px !important;
      }
      table[class=body] p,
            table[class=body] ul,
            table[class=body] ol,
            table[class=body] td,
            table[class=body] span,
            table[class=body] a {
        font-size: 14px !important;
      }
      table[class=body] .wrapper,
            table[class=body] .article {
       /* padding: 10px !important;*/
      }
	  .linkdv-in p{
	  margin : 0 0 10px 0 !important;
	  }
      table[class=body] .content {
        padding: 0 !important;
      }
      table[class=body] .container {
        padding: 0 !important;
        width: 100% !important;
      }
      table[class=body] .main {
        border-left-width: 0 !important;
        border-radius: 0 !important;
        border-right-width: 0 !important;
      }
      table[class=body] .btn table {
        width: 100% !important;
      }
      table[class=body] .btn a {
        /*width: 100% !important;*/
      }
      table[class=body] .img-responsive {
        height: auto !important;
        max-width: 100% !important;
        width: auto !important;
      }
	  .powered-by{
		      padding-left: 20px;
		      text-align: left;
	  }
	  .footer-bottom , .footer .content-block{
		  text-align:left;
	  }

	.footer-bottom .footer-right {
    float: initial;
    padding: 0;
    text-align: left;
    width: 100%;
}
.footer-bottom .footer-left {
    float: initial;
    padding: 0;
    width: 100%;
    text-align: left;
    color: #3e3e3e;
    font-weight: 600;
    margin: 0;
    display: block;
}
.footer-left {
    float: left;
    padding: 0;
    width: 50%;
    text-align: left;
    color: #3e3e3e;
    font-weight: 600;
}
.footer-right {
    float: left;
    padding: 0;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    width: 50%;
}
}
@media screen and (max-width: 768px) {
    .mobile-hide {
        display: none;
    }
}

@media screen and (min-width: 769px) {
    .desktop-hide {
        display: none;
    }
}

