
.progress-img {
    width: 40px;
    vertical-align: middle;
    padding: 0;
}
.progress-img-bottom {
    padding-bottom: 8px;
    width: 30px;
}

@media only screen and (min-width: 621px) {
    .progress-img-bottom {
        width: 80px;
    }
}
.border-center-active {
    border-bottom: solid 2px #86c569;
}

.border-center {
    border-bottom: solid 2px #bdbdbd;
}