
@media screen and (min-width: 768px) {
    .what_you_ordered th {
        padding: 15px 15px 15px 0;
        white-space: nowrap;
    }
}

.border-top td {
    border-top: 1px solid rgba(39, 39, 39, 0.7);
}

.color-black {
    color: #000;
}

.what_you_ordered .orderd-device {
    border-top: 1px solid rgba(39, 39, 39, 0.7);
    width: 93.5%;
    margin: 0 auto;
}
.what_you_ordered .product-image {
    width: 69px;
    height: 139px;
    object-fit: contain;
    float: left;
    vertical-align: top;
}

.product-image-wrapper {
    vertical-align: top;
}

@media screen and (max-width: 768px) {
    .what_you_ordered .product-image {
        width: 100%;
    }

    .visa-image {
        vertical-align: middle;
        width: 77px;
        margin-right: 20px;
    }

    .product-row > td {
        padding: 20px 0 30px;
    }

    .border-top td {
        padding-bottom: 10px;
    }

    .detailed-address {
        padding: 30px 0 10px 0;
    }
}

.what_you_ordered .product-title {
    font-weight: bold;
}

.what_you_ordered .product-value {
    vertical-align: top;
    font-weight: bold;
}

.product-row > td {
    padding-bottom: 40px;
}

.detailed-address {
    font-weight: normal;
    font-size: 16px;
    padding: 10px 0 10px 0;
    line-height: 1.5;
}

.payment-method {
    padding-top: 10px;
}

.payment-method-table{
	width:  50%;
	float:  left;
}
.order-total-table{
	width:  50%;
	float:  left;
}
.payment-method-table-img {
    width: 95px;
    height: 87px;
    object-fit: contain;
}