.voucher-code {
    background-color: #ffe600;
    border-radius: 6px;
    border: dotted 2px #272727;
    width: 50%;
    text-align: center;
    padding: 22px 0;
    margin-bottom: 40px;
    margin-top: 24px;
}
@media screen and (max-width: 768px) {
    .voucher-code {
        width: 100%;
    }
}

.redeem-freebie-row {
    background-color: #f8f8f8;
}
.redeem-freebie {
    padding: 22px 0;
    border-collapse: separate;
    margin-bottom: 21px;
    border-spacing: 0 1em;
}

.voucher-step {
    width: 141px;
    height: 141px;
    border-radius: 6px;
    background-color: #ffffff;
}
.voucher-step img{
    vertical-align: middle;
    width: 140px;
}
.steps-text-number, .steps-text-description {
    vertical-align: bottom;
    padding: 0 0 0 20px;
}