table.first-purchase {
    text-align: center;
}
.first-purchase-wrapper {
    background-color: #f8f8f8;
    margin-bottom: 40px;
}
.img-wrapper {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    border: solid 1px #f2f2f2;
    padding: 20px;
    border-radius: 100px;
    margin-bottom: 14px;
    width: 85px;
    height: 85px;
    margin: 0 auto;
}
.btn-bottom-margin {
    margin-bottom: 40px;
}
.first-purchase-wrapper .heading-16 {
    margin-bottom: 9px;
}
.greetings {
    padding: 0 20px;

}