<!---------- Account activation complete--------------------->
<table class="Account-activation-gray-area">
    <tbody>
    <tr>
        <td>
            <div class="gray-bg"><span><img
                    src="image/icons/100%-Genuine.svg"></img><br><span>100% Genuine</span></span></div>
        </td>
        <td>
            <div class="gray-bg"><span><img
                    src="image/icons/Get-them-in-2-days.svg"></img><br><span>Get them in 2 days</span></span></div>
        </td>
        <td>
            <div class="gray-bg"><span><img src="image/icons/The-Brand-you-value.svg"></img><br><span>The Brand you value</span></span>
            </div>
        </td>
    </tr>
    </tbody>
</table>