<!-----------------------  MYDIGI ------------------------------->
<table class="mydigi">
    <tbody>
    <tr>
        <td><img class="mydigi-img" src="image/Mydigi.png"></img></td>
        <td class="mydigi-text"><p class="digi-text"><strong>MyDigi</strong></p>
            <p class="digi-text">Aenean euismod bibendum laoreet.Proin gravida dolor sit amet lacus accumsan et viverra
                justo commodo.</p>
            <p class="digi-text"><img class="googleplay" src="img/googleplay-and-appstore.png"></img></p></td>
    </tr>
    </tbody>
</table>