<!-- Banner with image -->
<!--https://app.zeplin.io/project/5a9cf2d8cf3f4c87b9d00ae5/screen/5b4c3333ac910ac764063a5d-->

<table class="banner-img">
    <tr>
        <td class="banner-img" style="background-image:url(@@image); height:250px;"  width="100%" valign="center">
            <!--[if gte mso 9]>
            <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width:120px;height:92px;">
                <v:fill type="tile" src="image/order-in-progress.png" color="#7bceeb" />
                <v:textbox inset="0,0,0,0">
            <![endif]-->
            <div>
                <span class="banner-heading"><strong>@@text</strong></span>
            </div>


            <!--[if gte mso 9]>
            </v:textbox>
            </v:rect>
            <![endif]-->
        </td>
    </tr>

</table>
