
<!-- Banner with bg-color-->
<!--https://app.zeplin.io/project/5a9cf2d8cf3f4c87b9d00ae5/screen/5b4c3331ac910ac764063881-->
<table class="main bg-color">
    <tr>
        <td class="wrapper">
            <table class="bg-color-table">
                <tr><td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </td></tr>
                <tr><td class="title-banner"><strong>Port in failed</strong></td></tr>
                <tr><td>#81490823427</td></tr>
            </table>
        </td>
    </tr>
</table>
			