
<!-- Button section -->

<table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
    <tbody>
    <tr>
        <td align="left">
            <table border="0" cellpadding="0" cellspacing="0">
                <tbody>
                <tr>
                    <td  align="left">
                        <!--[if mso]>
                        <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="#" style="height:40px;v-text-anchor:middle;width:250px;" arcsize="5%" strokecolor="#00aeef" fillcolor="#00aeef">
                            <w:anchorlock/>
                            <center style="color:#ffffff;font-size:14px;">@@text</center>
                        </v:roundrect>
                        <![endif]-->

                        <a class="@@class" href="#" target="_blank">@@text</a>
                        <!--button text should be change as per the requirement-->
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>

