<!-- START FOOTER -->
<footer class="footer">
    <table border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td class="powered-by">
                                <span class="footer-left">FOLLOW US</br><p><a>
                                    <img class="media-img"
                                                                                   src="../img/Facebook.png"></img></a><a><img
                                        class="media-img" src="../img/insta1.png"></img></a><a><img class="media-img"
                                                                                                 src="../img/Gplus.png"></img></a><a><img
                                        class="media-img" src="../img/Twitter.svg"></img></a></p></span><span
                    class="footer-right">DIGI COMMUNITIES</br><p style="">Engage and get information from our users</p></span>
            </td>
        </tr>
        <tr>
            <td class="content-block">
                <p class="footer-content"><b>IMPORTANT:</b> This e-mail (including any
                    attachment hereto) is intended solely for the addressee and is confidential and
                    privileged. If you are not an intended recipient or you have received this email in
                    error, you are to immediately notify the sender by a reply email and to delete the
                    transmission including all attachment. In such instances you are further prohibited
                    from reproducing, disclosing, distributing or taking any action in reliance on it.
                    Please be cautioned that DIGI TELECOMMUNICATIONS SDN BHD will not be responsible for
                    any viruses or other interfering or damaging elements which may be contained
                    in this e-mail (including any attachments hereto).</p>
            </td>
        </tr>
        <tr>
            <td class="content-block powered-by footer-bottom"><span class="footer-left">Digi Telecommunications, Sdn Bhd (201283-M)</span><span
                    class="footer-right">Copyright © All rights reserved.</span>
            </td>
        </tr>
    </table>
</footer>
<!-- END FOOTER -->