<!--     http://localhost:63342/email-templates/Orderconfirmation.html?_ijt=7m6vfvfh20t71qa5ojos8tkop6 -->
<!-- order progress image status-->


<table class="bottom-banner table-collapse" cellspacing="0" >
    <tr>
        <td colspan="3" rowspan="2">#81490823427</td>
        <td rowspan="2" class="allign-right progress-img"><img src="../image/icons/Orders-in-progree-icon-1-fill.png" alt=""></td>

        <!-- border-center-active for green border else border-center-->

        <td class="border-center-active">&nbsp;</td>
        <td rowspan="2" class="allign-right progress-img"><img src="../image/icons/Orders-in-progree-icon-2-fill.png" alt=""></td>
        <td class="border-center">&nbsp;</td>
        <td rowspan="2" class="allign-right progress-img"><img src="../image/icons/Orders-in-progree-icon-3.png" alt=""></td>
    </tr>
    <tr>
        <td class="progress-img-bottom">&nbsp;</td>
        <td class="progress-img-bottom">&nbsp;</td>
    </tr>
</table>
<!-- order progress image status-->
