
<!-- product-section-2  freebie-->

<div class="redeem-freebie-row">


    <table class="redeem-freebie">
        <tr>
            <th colspan="6" class="heading-20">Follow these steps to redeem the
                digital freebie
            </th>
        </tr>
        <tr>
            <td colspan="2" class="voucher-step"><img
                    src="img/DIGILogo.png"></td>
            <td class="steps-text" colspan="4">
                <div class="steps-text-number">Step 01</div>
                <div class="steps-text-description">Aenean euismod bibendum laoreet. Proin gravida dolor
                    sit amet lacus accumsan et viverra justo commodo.</div>

            </td>
        </tr>
        <tr>
            <td colspan="2" class="voucher-step"><img
                    src="img/DIGILogo.png"></td>
            <td class="steps-text" colspan="4">
                <div class="steps-text-number">Step 02</div>
                <div class="steps-text-description">Aenean euismod bibendum laoreet. Proin gravida dolor
                    sit amet lacus accumsan et viverra justo commodo.</div>

            </td>
        </tr>
        <tr>
            <td colspan="2" class="voucher-step"><img
                    src="img/DIGILogo.png"></td>
            <td class="steps-text" colspan="4">
                <div class="steps-text-number">Step 03</div>
                <div class="steps-text-description">Aenean euismod bibendum laoreet. Proin gravida dolor
                    sit amet lacus accumsan et viverra justo commodo.</div>

            </td>
        </tr>
        <tr>
            <td colspan="2" class="voucher-step"><img
                    src="img/DIGILogo.png"></td>
            <td class="steps-text" colspan="4">
                <div class="steps-text-number">Step 04</div>
                <div class="steps-text-description">Aenean euismod bibendum laoreet. Proin gravida dolor
                    sit amet lacus accumsan et viverra justo commodo.</div>

            </td>
        </tr>


    </table>

</div>

<div class="product-section-2 mobile-hide">

    <div class="heading-28">Here's what you ordered</div>

    <table class="product-section-2-table" cellspacing="10">
        <tr>
            <td><img src="img/device2.png" class="product-image"></img><br></td>
            <td >
                <span class="heading-16">Samsung Galaxy S9+</span><br>
                <span class="product-attr">Color  <span class="color-black">Black</span>  |
                                                                Storage <span class="color-black">64GB</span></span>
            </td>
            <td><img src="img/device2.png" class="product-image"></img></td>
            <td>  <span class="heading-16">Redmi 10000mAH Powerbank</span><br></td>
        </tr>
    </table>

</div>

<!---->
<div class="product-section-2 desktop-hide">

    <div class="heading-28">Here's what you ordered</div>

    <table class="product-section-2-table" cellspacing="10">
        <tr class="product-row">
            <td><img src="img/device2.png" class="product-image"></img><br></td>
            <td >
                <span class="heading-16">Samsung Galaxy S9+</span><br>
                <span class="product-attr">Color  <span class="color-black">Black</span>  |
                                                                Storage <span class="color-black">64GB</span></span>
            </td>

        </tr>
        <tr class="product-row">
            <td><img src="img/device2.png" class="product-image"></img><br></td>
            <td >
                <span class="heading-16">Samsung Galaxy S9+</span><br>
                <span class="product-attr">Color  <span class="color-black">Black</span>  |
                                                                Storage <span class="color-black">64GB</span></span>
            </td>

        </tr>
    </table>

</div>
<!-- product-section-2  freebie-->

