
<!-- Button section -->

<table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
    <tbody>
    <tr>
        <td align="left">
            <table border="0" cellpadding="0" cellspacing="0">
                <tbody>
                <tr>
                    <td  align="left"> <a class="activate-btn btn-margin resubmit" href="http://htmlemail.io" target="_blank">Resubmit</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
			