
<!-- Here's what you ordered Starts-->
<div class="what_you_ordered mobile-hide">

    <div class="heading-28">Here's what you ordered</div>

    <table class="orderd-device" cellspacing="10">
        <tr>
            <th colspan="3"></th>
            <th class="td-padding heading-16-normal ">Quantitiy</th>
            <th class="td-padding heading-16-normal ">Unit Price</th>
            <th class="td-padding heading-16-normal ">Sub Total</th>
        </tr>
        <tr class="product-row">
            <td><img src="../img/device2.png" class="product-image"></img></td>
            <td colspan="2">
                <span class="heading-16">Samsung Galaxy S9+</span><br>
                <span class="product-attr">Color  <span class="color-black">Black</span>  |
                                Storage <span class="color-black">64GB</span>  |
                                IMEI <span class="color-black">990000862471854</span><br>
                                Fulfilled  <span class="color-black">By Digi</span>
            </td>

            <td class="td-padding product-value">1</td>
            <td class="td-padding product-value">RM1,999</td>
            <td class="td-padding product-value">RM1,999</td>
        </tr>
        <tr class="border-top">
            <td colspan="6"></td>
        </tr>
        <tr>
            <td colspan="6">
                <table class="payment-method-table">
                    <tbody>
                    <tr class="payment-method">
                        <td class="td-padding heading-20">Payment Method</td>
                    </tr>

                    <tr>
                        <td>
                            <img class="payment-method-table-img" src="../img/Visa.png">
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Credit Card ending **** 1876
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table class="order-total-table">
                    <tbody>
                    <tr class="payment-method">
                        <td colspan="2" class="td-padding heading-16 subtotal">Subtotal</td>
                        <td class="heading-16 td-padding float-right RM2">RM2,430</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="discount">Discount</td>
                        <td class="float-right RM80">RM80</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="delivery">Delivery</td>
                        <td class="float-right RM10">RM10</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="GST">GST</td>
                        <td class="float-right RM100">RM100</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="heading-20 order-total">Order Total</td>
                        <td class="float-right heading-20 RM250">RM2,250</td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <table class="detailed-address">
                    <tr class="heading-20 td-padding">
                        <td>
                            Shipping Address
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Jasmin Ishak,
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Jalan Kinrara 1, Bandar Kinrara,
                        </td>
                    </tr>
                    <tr>
                        <td>
                            47180 Puchong, Wilayah Persekutuan,
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Kuala Lumpur
                        </td>
                    </tr>
                </table>
            </td>
            <td colspan="2"></td>
            <td></td>
        </tr>

    </table>

</div>

<div class="what_you_ordered desktop-hide ">

    <div class="heading-28">Here's what you ordered</div>

    <table class="orderd-device orderd-device-mobile">

        <tr class="product-row">
            <td colspan="2">

                <table>

                    <tr>
                        <th rowspan="6" class="product-image-wrapper"><img src="../img/device2.png"
                                                                           class="product-image"></img>
                        </th>
                        <th>Samsung Galaxy S9+</th>
                    </tr>
                    <tr>
                        <td>Color <span class="color-black">Black</span></td>
                    </tr>
                    <tr>
                        <td>Storage <span class="color-black">64GB</span></td>
                    </tr>
                    <tr>
                        <td>IMEI <span class="color-black">990000862471854</span></td>
                    </tr>
                    <tr>
                        <td>Fulfilled <span class="color-black"> By Digi</span></td>
                    </tr>
                    <tr>
                        <td class="heading-14">RM1,999</td>
                    </tr>
                </table>
            </td>

        </tr>

        <tr class="border-top">
            <td colspan="2"></td>
        </tr>
        <tr>
            <td>
                <table>
                    <tbody>
                    <tr class="payment-method">
                        <td colspan="2" class="td-padding heading-16 subtotal">Subtotal</td>
                        <td class="heading-16 td-padding float-right RM2">RM2,430</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="discount">Discount</td>
                        <td class="float-right RM80">RM80</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="delivery">Delivery</td>
                        <td class="float-right RM10">RM10</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="GST">GST</td>
                        <td class="float-right RM100">RM100</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="heading-20 order-total">Order Total</td>
                        <td class="float-right heading-20 RM250">RM2,250</td>
                    </tr>
                    </tbody>
                </table>

                <table>
                    <tbody>
                    <tr class="payment-method">
                        <td colspan="2" class="payment-method td-padding heading-20">Payment Method</td>
                    </tr>
                    <tr>
                        <td colspan="2"><img class="visa-image" src="../img/Visa.png"/> Credit Card ending
                            ****
                            1876<br></td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>

            <td colspan="3">

                <table class="detailed-address">
                    <tr class="heading-20 td-padding">
                        <td>
                            Shipping Address
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Jasmin Ishak,
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Jalan Kinrara 1, Bandar Kinrara,
                        </td>
                    </tr>
                    <tr>
                        <td>
                            47180 Puchong, Wilayah Persekutuan,
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Kuala Lumpur
                        </td>
                    </tr>
                </table>
            </td>

        </tr>
    </table>

</div>

<!-- Here's what you ordered ENDS -->