<!--https://app.zeplin.io/project/5a9cf2d8cf3f4c87b9d00ae5/screen/5b4c3331ac910ac764063881-->
<table class="mnp3-Yellow-bg">
    <tr>
        <td></td><td class="right-text"  colspan="2">Principal line  | <strong>60123456782</strong></td>
    </tr>
    <tr><td><strong>Account overdue</strong></td><td></td></tr>
    <tr><td colspan="2">The NRIC or mobile number you provided does not match the records at your current service provider.</td></tr>
    <tr><td colspan="2">Next Steps: <strong>Ensure that the NRIC and mobile numbers that you have provided are correct. Please contact your service provider to check your details.</strong></td></tr>
</table>